.ipynb_checkpoints/
__pycache__/

# Folders
best_models/
results/
models/
wandb/
nbdata/
logs/
img/
configs/
artifacts/
dataset/TDC/dti_dg_group/
dataset/EnzPred

# File Types
**.pk
**.h5

# Large files
dataset/DUDe/full.tsv
